<html>
<head>
	<meta http-equiv=Content-Type content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="./css/common.css"/>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
	<script type="text/javascript" src="./js/jquery-2.0.2.min.js"></script>
	<script type="text/javascript" src="./js/main.js"></script>
</head>
<body>
	<div>
		<div class="main-top">
			<div id="user-portrait" style="background-image:url('./imgs/portrait.jpg');"></div>
			<ul class="user-info">
				<li class="user-name"></li>
				<li class="user-signature">这个人很懒，啥也没写</li>
				<li class="fun-btns">
					<span>
						<a href="javascript:parent.parent._window_.openDialogWindow()" title="dialog" style="background:url('./imgs/dialog.png')"></a>
					</span>
					<span>
						<a href="https://github.com/xiaocaiyidie" title="github" style="background:url('./imgs/git.png')"></a>
					</span>
					<span>
						<a href="javascript:void(0)" onclick="about()" title="about" style="background:url('./imgs/about.png')"></a>
					</span>
				</li>
			</ul>
		</div>
		<div class="main-content">
			<ul class="tabs-title">
                <li>pyWinds demo</li>
			</ul>
			<div class="tabs-content">
                <embed src="./assets/notify.mp3" loop="true" autostart="true"></embed>
			</div>
		</div>
	</div>
</body>
</html>